{% extends "base.html" %}

{% block content %}
<div class="container bg-light pb-3">
    <h2>Instrucciones enviadas a tu correo</h2>
    <p>Si la dirección de correo electrónico que proporcionaste está asociada con una cuenta, hemos enviado un enlace para restablecer tu contraseña. Por favor, revisa tu bandeja de entrada (y la carpeta de spam si no ves el correo).</p>
    <p>Si no recibiste el correo, intenta nuevamente con otro correo o asegúrate de que la dirección esté correcta.</p>
    <p><a class="btn btn-info" href="{% url 'login' %}">Iniciar sesión</a></p>
</div>
{% endblock %}